body {
  background: url(bmi2.jpg);
  color: black;
  background-size: cover;
  opacity: 1.5;
}
#website-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 3.5rem;
  font-family: "Agbalumo";
}
.heading-text {
  font-family: "Raleway";
  color: black;
}
.heading-text p {
  font-weight: 700;
  color: blue;
}
.form-part {
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(208, 12, 25);
  border: 2px solid black;
}
input {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 2rem;
  width: 6rem;
  font-size: 2rem;
}
button {
  margin-top: 5px;
  background-color: aqua;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border: solid 1px white;
  border-radius: 6px;
}
#results {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}
